
ENVIRONMENT='dev'

DISCORD_TOKEN=

GEMINI_TOKEN=
GITHUB_TOKEN=

# IDs do discord
SERVER_ID=
CHANNEL_ID=

# extras
REPOSITORIO=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=

REDIS_PORT=